{% extends 'base/analysis-index.html' %}
{% load static %}

        <!-- Page Wrapper -->
        <div class="page-wrapper">
            <div class="content container-fluid">
                {%block pageHeader%}
                <!-- Page Header -->
                <div class="page-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="page-title">CovidTrack</h3>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'edu-covid-stat' %}">Educational level vs Covid statistics</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endblock %}
                {% block body %}
                <div class="row">
                    <div class="col-sm-12">

                        <div class="card card-table">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-center table-hover datatable">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>Educational Level</th>
                                                <th>Num of Covid Cases</th>
                                                <th>Percentage</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Doctorate</td>
                                                <td>{{doctorate_cnt}}</td>
                                                <td>{{doctorate_p|floatformat:2}}</td>
                                            </tr>
                                            <tr>
                                                <td>Masters</td>
                                                <td>{{masters_cnt}}</td>
                                                <td>{{masters_p|floatformat:2}}</td>
                                            </tr>
                                            <tr>
                                                <td>Undergraduate</td>
                                                <td>{{undergra_cnt}}</td>
                                                <td>{{undergra_p|floatformat:2}}</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endblock %}
            </div>
        </div>
        <!-- /Page Wrapper -->

    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script src="{% static 'assets/js/jquery-3.5.1.min.js' %}"></script>

    <!-- Bootstrap Core JS -->
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

    <!-- Feather Icon JS -->
    <script src="{% static 'assets/js/feather.min.js' %}"></script>

    <!-- Slimscroll JS -->
    <script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

    <!-- Datatables JS -->
    <script src="{% static 'assets/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/plugins/datatables/datatables.min.js' %}"></script>

    <!-- Custom JS -->
    <script src="{% static 'assets/js/script.js' %}"></script>

</body>

<!-- Mirrored from kanakku.dreamguystech.com/template-html/customers.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 17 May 2021 05:33:59 GMT -->

</html>